color-primary = #fefefe // 基色调：标题栏, 折叠面板颜色
current-row-bg = #e0f5ff // 表格单选选中背景色
current-row-color = #000 // 表格单选选中文字颜色
color_succ = #67C23A // 状态色：success
color_error = #F56C6C // 状态色：error
color_header_top_left = #00284D // 顶部导航左侧颜色
